body{
    overflow: hidden;
    font-family: 'litterbox_icgregular';
    background-color: #193c49;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androhttp://devcenter.dutchmonaco.net/tfios/site/ids */
}
p{
    font-family: 'litterbox_icgregular';
    font-size: 12px;
}
.underline{
    text-decoration: underline;
}
.white{
    color: #fff;
}
.blacktext{
    color: #000;
}
.cyan{
    color: #00aeef;
}
.hasgtag{
    color:#44c5f2;
}
.noselectable{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.debug{
    position: fixed;
    width: 1027px;
    height: 638px;
    background-image: url(../img/debug/promise_03.jpg);
    background-position-y: 143px;
    z-index: 9055;
    margin-left: -265px;
    left: 50%;
    opacity: .5;
    background-repeat: no-repeat;
    background-position-x: 0;
    display: none; 
}
/* nav top*/
.content-buttons-top{
    position: relative;
    color:#fff;
    font-family: 'midnight';
    font-weight: normal;
    font-style: normal;
    font-size: 8px;
    z-index: 40;
    text-transform: uppercase;
    text-decoration: none;
}

.content-buttons-top ul li .my-post{
    display: none;
    position: absolute;
    right: 5px;
    color: #7c9597;
    font-size: 10px;
    margin: 0;
    top: 0;
    padding: 0;
    padding: 26px 0 0 0;
}
.content-buttons-top ul li .my-post li{
    width: 54px;
    min-height: 35px;
    border:0;
    width: 50px;
}
.content-buttons-top ul li .my-post li .fb-connect, .content-buttons-top ul li .my-post li .tw-connect, .content-buttons-top ul li .my-post li .tb-connect{
    background: none;
    width: auto;
    height: auto;
}
.content-buttons-top  .my-post li a:after{
    content: "" !important;
}
.content-buttons-top  .my-post li a img{
    top: 0;
    position: relative;
    margin: 0 auto;
    width: 33px;
    left: 50%;
    margin-left: -16px;
}
.content-buttons-top ul li .my-post li a {
    color: #7c9597;
    display: block;
    padding: 0;
    width: 56px;
}
.content-buttons-top ul li .my-post li {
    padding: 0;
    width: 55px;
}
.content-buttons-top ul li .my-post li:first-child {
    padding: 6px 0 6px 0;
}
.content-buttons-top ul li .my-post li:last-child {
    padding: 6px 0 6px 0;
}
.content-buttons-top ul li .my-post li:hover{
    background-color: #fff;
}
.content-buttons-top ul li .my-post li:hover img, .content-buttons-top ul li .my-post li a.off img{
    opacity: .5;
}
.content-buttons-top a{
    color:#fff;
    text-decoration: none;
}
.content-buttons-top ul{
    position: relative;
    float: right;
    margin-right: 19px;
}
.content-buttons-top ul li{
    position: relative;
    float: left;
    margin-left: 0px;
    padding: 8px 0px;
}
.content-buttons-top ul li img{
    
}
.content-buttons-top ul .first-link:first-child a:after{
    content: " | ";
    letter-spacing: 5px;
}
.content-buttons-top ul li img{
    position: relative;
    float: left;
    top: -1px;
    padding-right: 3px;
}
.content-buttons-top ul li:hover ul{
    display: block;
}
.content-buttons-top ul li ul{
    display: none;
    position: absolute;
    right: 0;
    color:#7c9597;
    font-size: 10px;
    top: 26px;
    margin-right: -19px;
}
.content-buttons-top ul li ul li{
    padding: 0;
}
.content-buttons-top ul li ul li a{
    color: #16c1f3;
    display: table-cell;
    /* vertical-align: middle; */
    padding: 7px 0 0 0;
    /* align-content: center; */
    width: 104px;
    /* height: 21px; */
}
.content-buttons-top ul li ul li{
    position: relative;
    text-align: center;
    float: none;
    width: 103px;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: #cbcbcb;
    display: table;
    height: 20px;
    
}
.content-buttons-top ul li ul li:hover a{
    color:#000;
}
.content-buttons-top ul li ul li .active{
    color:#000;
}
.content-buttons-top ul li ul li:hover{
    color:#000;
    background-color: #16c1f3;
}
/* end nav top*/
.content{
    display: none;
}
.loading{
    position:fixed;
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/loader-background.png) center;
    z-index: 8000;
}
.loading p{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.loading .logo-loader{
    position: fixed;
    bottom: 5px;
    left: 50%;
    margin-left: -117px;
    bottom: 31px;
}
.header{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 118px;
    background: url(../img/headerBackground.png) center;
}
.header .logo-top{
    width: 338px;
    position: absolute;
    left: 50%;
    margin-left: -169px;
    top: 5px;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.header .logo{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 34px;
    background: url(../img/logo.png);
    width: 245px;
    height: 72px;
}
.header .logo:hover{
    background: url(../img/logo-over.png);
}
.header .logo .text-01, .header .logo .text-02, .header .logo .text-03{
    position: absolute;
    top: 50px;
    font-size: 17px;
}
.header .logo .text-01{
    left: 3px;
    color: #000;
}
.header .logo .text-02{
    letter-spacing: 0px;
    left: 98px;
    color: #000;
}
.header .logo .text-03{
    left: 163px;
    top: 52px;
    text-align: center;
    width: 75px;
    color: #00aeef;
    font-size: 15px;
    padding-top: 1px;
}
.header .share-your-promise{
    position: absolute;
    right: 25%;
    top: 38px;
    width: 197px;
    height: 62px;
    cursor: pointer;
    margin-right: -99px;
    background-image: url(../img/share-your-promise-02.png);
}

.header .share-your-promise:hover {
    background-image: url(../img/share-your-promise-02-over.png);
}

.header .share-your-promise .text-01{
    position: absolute;
    top: 36px;
    left: 42px;
    width: 99px;
    text-align: center;
    font-size: 25px;
}
.header .share-your-promise .text-02{
    position: absolute;
    top: 18px;
    left: 41px;
    width: 99px;
    font-size: 21px;
    text-align: center;
    color:#00aeef;
}
.header .share-your-promise .text-03{
    position: absolute;
    top: 24px;
    left: 31px;
    width: 143px;
    font-size: 18px;
    text-align: center;
    color: #00aeef;
    z-index: 2;
}


.header .right-top{
    position: absolute;
    right: 0;
    top: 32px;
    height: 82px;
    width: 142px;
    cursor: pointer;
    background-image: url(../img/background-right-top.png);
}
.header .right-top:hover{
    background-image: url(../img/background-right-top-over.png);
}

.header .right-top .text-01, .header .right-top .text-02, .header .right-top .text-03{
    font-family: 'litterbox_icgregular';
    font-size: 12px;
    transform:rotate(-4deg);
    -ms-transform:rotate(-4deg); /* IE 9 */
    -webkit-transform:rotate(-4deg); /* Opera, Chrome, and Safari */
    position: absolute;
}
.header .right-top .text-01{
    left: 65px;
    top: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
.header .right-top .text-02{   
    font-size: 14px;
    top: 17px;
    left: 52px;
    text-transform: uppercase;
}
.header .right-top .text-03{
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 58px;
    
    text-transform: uppercase;
}
.header .right-top .text-03 .correction{
    letter-spacing: -0.6px;
}
.header .right-top .text-04{
    font-size: 14px;
    position: absolute;
    top: 46px;
    left: 70px;
    text-transform: uppercase;
    color: #00aeef;
    transform:rotate(-6deg);
    -ms-transform:rotate(-6deg); /* IE 9 */
    -webkit-transform:rotate(-6deg); /* Opera, Chrome, and Safari */
}
.header .right-top:hover .text-04{
    color:#fff;
}
.content-slider-drag{
    position: fixed;
    bottom: 30px;
    height: 30px;
    left: 50%;
    margin-left: -662.5px;
    max-width: 1325px;
     z-index: 2;
}
.content-slider-drag .arrow-right{
    right: 0;
    position: absolute;
    top: 0px;
}
.content-slider-drag .arrow-left{
    left: 0;
    position: absolute;
    top: 0px;
}
.content-slider-drag .line-center{
    left: 50%;
    position: absolute;
    width: 700px;
    margin-left: -350px;
    overflow: hidden;
}
.content-slider-drag .line-center img{
    position: relative;
    left: 50%;
    margin-left: -676px;
    top: -14px;
}
.content-parallax{
    position: absolute;
    z-index: 1;
}
.content-parallax .layer-01{
    position: absolute;
    width: 5244px;
    z-index: 1;
}
.content-parallax .layer-01, .content-parallax .layer-02, .content-parallax .layer-03, .content-parallax .layer-04{
    position: absolute;
    width: 5244px;
    z-index: 1;
    *-webkit-transition: all .3s linear;
  *  -moz-transition: all .3s linear;
   * -o-transition: all .3s linear;
   * transition: all .3s linear;
}
.animarEasing{
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.content-parallax .layer-01 img{
    position: relative;
    float: left;
}
.content-parallax .layer-02{
    position: absolute;
    width: 9000px;
    z-index: 2;
}

.content-parallax .layer-02 .sublayer{
    position: relative;
    float: left;
   * background-color: #ef2929;
    height: 600px;
    width: 1800px;
}
.content-parallax .layer-02 .sublayer .top{
    position: absolute;
    top: 0;
    left: 0;
}
.content-parallax .layer-02 .sublayer .botoom{
    position: absolute;
    top: 238px;
    right: 32px;
}
.content-parallax .layer-03{
    position: absolute;
    width: 5244px;
   pointer-events:none;
    z-index: 3;
}
.content-parallax .layer-04{
    position: absolute;
    width: 5244px;
    height: 600px;
    pointer-events:none;
    z-index: 3;
}
.content-parallax .layer-04 img{
    
}
/* SLIDER */
#sliderDrag{
    position: relative;
    left: 55px;
    border: 0px;
    top:15px;
    width: 1215px;
    background-image: none;
    background-color: transparent !important;
    cursor: pointer;
    z-index: 200;
    
}
/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    cursor: pointer !important;
}
.ui-slider .ui-slider-handle:focus { 
    outline: none !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0px solid #d3d3d3 !important;
    width: 34px !important;
    height: 47px !important;
    background: url("../img/bg-slider-01.png") 50% 50% repeat-x !important;
    font-weight: normal;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -15px !important;
    margin-left: -22.17px !important;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; 
}
.ui-widget-header {
    border: 0px solid #aaaaaa !important;
    background: none !important;
}
*/
/* FIN SLIDER */
.content-left-bottom{
    position: fixed;
    background-image: url(../img/background-left-bottom.png);
    width: 186px;
    height: 182px;
    bottom: 0;
    z-index: 10;
}
.content-right-bottom{
    position: fixed;
    background-image: url(../img/background-right-bottom.png);
    width: 220px;
    height: 256px;
    bottom: -45px;
    right: -74px;
    z-index: 10;
    cursor: pointer;
}
.content-right-bottom:hover{
    background-image: url(../img/background-right-bottom-2.png);
}
.content-right-bottom:hover .text-04{
    color:#000;
}
.content-right-bottom p{
    font-family: 'litterbox_icgregular';
     transform:rotate(-4deg);
    -ms-transform:rotate(-4deg); /* IE 9 */
    -webkit-transform:rotate(-4deg); /* Opera, Chrome, and Safari */
    position: absolute;
}
.content-right-bottom .text-01{
    font-size: 12px;
    left: 62px;
    top: 31px;
}
.content-right-bottom .text-02{
    font-size: 16px;
    left: 50px;
    top: 43px;
}
.content-right-bottom .text-03{
    font-size: 21px;
    color:#fff;
    top: 59px;
    left: 40px;
     transform:rotate(-6deg);
    -ms-transform:rotate(-6deg); /* IE 9 */
    -webkit-transform:rotate(-6deg); /* Opera, Chrome, and Safari */
}
.content-right-bottom .text-04{
    font-size: 14px;
    color: #43bde7;
    top: 85px;
    left: 70px;
    text-transform: uppercase;
}
.legals{
    font-family: 'Arial';
    font-size: 8px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    bottom: 5px;
    color: #869fa3;
    text-transform: uppercase;
}
.legals a:first-child{
    margin: 0 5px;
}
.legals a:last-child{
    margin: 0 0 0 5px;
}
.legals a{
    font-weight: 600;
    color:#869fa3;
    text-decoration: underline;
}
.legals a:hover{
    color:#fff;
}
.content-shorts{
    position: absolute;
    right: 19px;
    top: 125px;
    color:#fff;
    text-transform: uppercase;
    font-size: 13px;
    z-index: 10;
}
.content-shorts p{
    position: relative;
    float: left;
    margin-right: 12px;
}
.content-shorts a{
    position: relative;
    float: left;
    text-decoration: none;
    color: #e2e3e5;
}
.content-shorts a:hover, .content-shorts a.active{
    color: #00aeef;
}
.content-ux{
    position: fixed;
    left: 2px;
    top: 120px;
    z-index: 1600;
}
.content-ux .ux{
    display: block;
    width: 25px;
    height: 25px;
}
.content-ux .fb{
    background-image: url(../img/ux-fb.png);
}
.content-ux .fb:hover{
    background-image: url(../img/ux-fb-over.png);
}
.content-ux .tw{
    background-image: url(../img/ux-tw.png);
}
.content-ux .tw:hover{
    background-image: url(../img/ux-tw-over.png);
}
.content-ux .tb{
    background-image: url(../img/ux-tb.png);
}
.content-ux .tb:hover{
    background-image: url(../img/ux-tb-over.png);
}
.content-ux .pin{
    background-image: url(../img/ux-pin.png);
}
.content-ux .pin:hover{
    background-image: url(../img/ux-pin-over.png);
}
.content-ux .google{
    background-image: url(../img/ux-g.png);
}
.content-ux .google:hover{
    background-image: url(../img/ux-g-over.png);
}
.content-ux .message-ux{
    display: none;
    position: absolute;
    left: 30px;
    top: 50px;
}
.content-ux .message-ux p{
    color: #FFF;
    font-size: 13px;
    text-align: center;
    width: 100px;
    position: absolute;
    text-transform: uppercase;
    top: -17px;
    left: 2px;
}
.content-ux .message-ux img{}
/* LOGIN */
.login{
    position: absolute;
    /*background-image: url(../img/plate-01.png);*/
    width: 540px;
    height: 356px;
    z-index: 2030;
    left: 50%;
    margin-left: -270px;
    top:50%;
    margin-top: -178px;
    
}
.black{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 1999;
    left: 0;
    top: 0;
    opacity: .5;
}
.login .steeps{
    background-image: url(../img/trail-01.png);
    width: 268px;
    height: 39px;
    top: 43px;
    position: relative;
    left: 135px;
    font-size: 14px;
}
.login .steeps.one{
    background-image: url(../img/trail-01.png);
    color:#000;
}
.login .steeps.one li:first-child{
    color:#fff;
}
.login .steeps.two{
    background-image: url(../img/trail-02.png);
}
.login .steeps.two li{
    color:#fff;
}
.login .steeps.two li:last-child{
    color:#000;
}
.login .steeps.three{
    background-image: url(../img/trail-03.png);
}
.login .steeps.three li{
    color:#fff;
}
.login .steep-01, .login .steep-02, .login .steep-03, .login .steep-04, .login .steep-05{
    background-image: url(../img/plate-01.png);
    width: 540px;
    height: 356px;
}
.login .steep-02, .login .steep-05{
    background-image: url(../img/plate-02.png);
}
.login .steep-01{
    position: relative;  
}
.login .steep-02{
    position: relative;
    display: none;
}
.login .steep-02 .promise-arrow{
    position: absolute;
    left: 168px;
    top: 166px;
}
.login .steep-05 .promise-arrow{
    position: absolute;
    left: 161px;
    top: 153px;
}

.login .steep-03{
    position: relative;
    display: none;
}
.login .steep-04{
    position: relative;
    display: none;
}
.login .steep-05{
    position: relative;
    display: none;
}
.login .steeps li{
    position: relative;
    float: left;
    top: 20px;
    left: 31px;
    font-size: 16px;
    margin-right: 17px;
    text-transform: uppercase;
}
.login .connet-width{
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    top: 85px;
    left: -5px;
    position: relative;
    letter-spacing: 1.5px;
}
.content-socials-connects{
    position: relative;
    top: 87px;
    left: 8px;
    margin: 0 auto;
    width: 272px;
}
.content-socials-connects .off{
    opacity: .5;
}
.content-socials-connects .fb-connect.off:hover{
    background-image: url(../img/fb-connect.png) !important;
}
.content-socials-connects .tw-connect.off:hover{
    background-image: url(../img/tw-connect.png) !important;
}
.content-socials-connects .tb-connect.off:hover{
    background-image: url(../img/tb-connect.png) !important;
}
.login .close-btn{
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/close.png);
    right: 37px;
    top: 24px;
    z-index: 30;
}
.login .close-btn:hover{
    background-image: url(../img/close-over.png);
}
.fb-connect, .tw-connect, .tb-connect{
    position: relative;
    background-image: url(../img/fb-connect.png);
    width: 94px;
    height: 90px;
    cursor: pointer;
    border:0;
    background-color: transparent;
    outline: none;
    display: block;
}
.fb-connect:hover{
    background-image: url(../img/fb-connect-over.png);
}
.tw-connect{
    background-image: url(../img/tw-connect.png);
}
.tw-connect:hover{
    background-image: url(../img/tw-connect-over.png);
}
.tb-connect{
    background-image: url(../img/tb-connect.png);
}
.tb-connect:hover{
    background-image: url(../img/tb-connect-over.png);
}
.margin-left-01{
    margin-left: -12px;
    position: relative;
    float: left;
}
.steep-02 .text-01, .steep-02 .text-02, .steep-02 .text-03, .steep-05 .text-03, .steep-05 .text-01{
    color: #fff;
    position: relative;
    text-align: center;
    left: -3px;
}
.steep-02 .text-01, .steep-05 .text-01{
    top: 65px;
    font-size: 34px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    
}
.steep-02 .text-01{
    color:#000;
    
}
.steep-05 .text-01{
    top: 98px;
    font-size: 26px;
    color:#000;
    
}
.steep-02 .text-02{
    font-size: 23px;
    top: 60px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}
.steep-02 .text-03, .steep-05 .text-03{
    text-transform: uppercase;
    color: #000;
    top: 61px;
    text-align: left;
    left: 71px;
    font-size: 21px;
}
.steep-05 .text-03{
    top: 118px;
    left: 63px;
}
.steep-02 textarea, .steep-05 textarea{
    position: relative;
    top: 77px;
    left: 62px;
    width: 382px;
    height: 63px;
    color: #000;
    padding: 5px 7px;
    font-size: 14px;
    font-family: 'Arial';
    border-color: #00aeef;
    resize: none;
    /*text-transform: uppercase;*/
}
.steep-05 textarea{
    top: 121px;
    left: 68px;
}
.steep-02 .enter-zip{
    position: absolute;
    top: 157px;
    left: 62px;
    width: 83px;
    padding: 4px;
    height: 18px;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}
.steep-02 .max-characters, .steep-05 .max-characters{
    color: #fff;
    position: absolute;
    right: 81px;
    top: 58px;
    font-size: 17px;
    text-align: right;
}
.steep-05 .max-characters{
    top: 132px;
    right: 76px;
}
.steep-02 ::-webkit-input-placeholder, .steep-05 ::-webkit-input-placeholder {
   color:#00aeef;
}

.steep-02 :-moz-placeholder, .steep-05 :-moz-placeholder { /* Firefox 18- */
   color:#00aeef;
}

.steep-02 ::-moz-placeholder, .steep-05 ::-moz-placeholder {  /* Firefox 19+ */
   color:#00aeef;
}

.steep-02 :-ms-input-placeholder, .steep-05 :-ms-input-placeholder {  
   color:#00aeef; 
}
.steep-02 form{
    top: -8px;
    position: relative;
    left: 6px;
}
.steep-02 .submit-promise, .steep-05 .submit-promise{
    border: 0;
    background-image: url(../img/btn-submit-01-over.png);
    width: 192px;
    height: 34px;
    position: absolute;
    right: 75px;
    top: 169px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'litterbox_icgregular';
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 0 3px 36px;
    outline: none;
}
.steep-02 .submit-promise{
    color: #44c5f2;
}
.steep-05 .submit-promise{
    top: 259px;
    color: #44c5f2;
}
.steep-02 .submit-promise:hover, .steep-05 .submit-promise:hover{
    color:#44c5f2;
    background-image: url(../img/btn-submit-01.png);
}
.steep-02 .alert, .steep-05 .alert{
    color: #ed1c24;
    font-weight: bold;
    font-family: 'midnight';
    position: absolute;
    left: 61px;
    top: 201px;
    font-size: 12px;
}
.steep-05 .alert{
    top:242px;
}
.steep-03 .text-01{
    color: #000;
    width: 100%;
    text-align: center;
    top: 96px;
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
}
.share-box{
    position: relative;
    margin: 0 auto;
    width: 244px;
    top: 126px;
    left: -2px;
    z-index: 12;
}
.steep-03 .ornaments-01{
    position: absolute;
    background-image: url(../img/share-ornaments-01.png);
    width: 192px;
    height: 15px;
    left: 74px;
    top: 164px;
    
}
.share-box .ornaments-02{
    position: absolute;
    background-image: url(../img/share-ornaments.png);
    width: 289px;
    height: 68px;
    left: -25px;
    top: 16px;
    z-index: 1;
}
.share-box p{
    color: #fff;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}
.share-fb-01 {
    background-image: url('../img/fb-share.png');
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
}
.share-tw-01 {
    background-image: url('../img/tw-share.png');
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
}
.share-pin-01 {
    background-image: url('../img/pin-share.png');
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
}
.share-tb-01 {
    background-image: url('../img/tb-share.png');
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
}
.floatleft-01{
    position: relative;
    float: left;
    margin-left: -4px;
    left: 8px;
    z-index: 2;
}
.content-to-share{
    position: relative;
    top: 48px;
    left: 67px;
    width: 404px;
}
.content-to-share .content-post{
    background-image: url('../img/share-post.png');
    width: 404px;
    height: 206px;
}
.content-to-share .content-post p{
    font-family: 'Arial';
    position: relative;
    left: 102px;
    top: 20px;
    line-height: 24px;
    width: 277px;
    font-size: 19px;
    z-index: 2;
}
.content-to-share .content-post .image-share{
    position: absolute;
    top: 7px;
    left: 11px;
    z-index: 2;
}
.content-to-share .content-post .image-share .star{
    position: absolute;
    z-index: 2;
}
.content-to-share .content-post .image-share .user{
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 22px;
    width: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 50px;
    
}
.share-box-02{
    position: relative;
}
.share-box-02 p{
    color: #fff;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    left: 54px;
    top: 10px;
    position: absolute;
}
.share-box-02 .ornaments-01{
    position: absolute;
    background-image: url(../img/share-ornaments-02.png);
    width: 216px;
    height: 41px;
    left: 129px;
    top: 7px;
    z-index: 1;
}
.share-box-02 .content-buttons{
    position: absolute;
    right: 95px;
    top: 5px;
}
.share-fb-02, .share-tw-02, .share-tb-02, .share-pin-02 {
    background-image: url('../img/fb-share-01.png');
    width: 45px;
    height: 45px;
    position: relative;
    display: block;
}
.share-fb-02:hover{
    background-image: url('../img/fb-share-01-over.png');
}
.share-tw-02{
    background-image: url('../img/tw-share-01.png');
}
.share-tw-02:hover{
    background-image: url('../img/tw-share-01-over.png');
}
.share-tb-02{
    background-image: url('../img/tb-share-01.png');
}
.share-tb-02:hover{
    background-image: url('../img/tb-share-01-over.png');
}
.share-pin-02{
    background-image: url('../img/pin-share-01.png');
}
.share-pin-02:hover{
    background-image: url('../img/pin-share-01-over.png');
}
/* END LOGIN */

/* INTRO */
.intro{
    position: absolute;    
    width: 746px;
    height: 446px;
    z-index: 2030;
    left: 50%;
    margin-left: -373px;
    top:50%;
    margin-top: -196px;
    opacity: 0;
}
.novisibility{
    display: none;
}
.intro p{
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
    font-size: 24px;
    color:#fff;
    transform:rotate(-1.3deg);
    -ms-transform:rotate(-1.3deg); /* IE 9 */
    -webkit-transform:rotate(-1.3deg); /* Opera, Chrome, and Safari */
    line-height: 23px;
}
.intro .imgBackground{
    position: absolute;
    z-index: 1;
}
.intro .title{
    left: 289px;
    top: 70px;
    font-size: 24px;
}
.intro .text-01{
    left: 341px;
    top: 96px;
    text-align: left;
    width: 355px;
    letter-spacing: 0.2px;
}
.intro .text-02{
    left: 325px;
    top: 143px;
    text-align: left;
    width: 355px;
    color: #000;
    letter-spacing: 0.2px;
}
.intro .text-03{
    left: 410px;
    top: 297px;
    text-align: left;
    width: 355px;
}
.intro .text-04{
    left: 335px;
    top: 199px;
    text-align: left;
    width: 355px;
    letter-spacing: 0.2px;
}
.intro p .correction01{
    padding-left: 0;
    padding-top: 10px;
    left: -24px;
    position: relative;
}
.intro p .correction02{
    position: relative;
    left: 17px;
}
.intro p .correction03{
    position: relative;
    left: -17px;
    top: 0px;
    letter-spacing: 0.3px;
}
.intro p .correction04{
    position: relative;
    left: -7px;
    top: 0px;
}
.intro p .correction05{
    position: relative;
    left: 10px;
}
.intro p .correction06{
    padding-left: 4px;
}
.intro p .correction07{
    padding-left: 12px;
}
.intro p .correction08{
    padding-left: 29px;
}
.intro .close-btn{
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/close.png);
    right: 14px;
    top: 11px;
    z-index: 2030;
}
.intro .close-btn:hover{
    background-image: url(../img/close-over.png);
}
.intro .btn-make-promisse{
    position: absolute;
    left: 356px;
    top: 329px;
    text-transform: uppercase;
    display: block;
    width: 224px;
    height: 17px;
    background-image: url(../img/btn-make-promisse.png);
    z-index: 2;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    padding: 25px 3px;
    text-align: center;
    color: #00aeef;
}
.intro .btn-make-promisse:hover{
    background-image: url(../img/btn-make-promisse-over.png);
}
/* END INTRO */
header-mobile{
        display: none;
}
.mobile{
    display: none;
}
.background-cover{   
    background-repeat: no-repeat !important; 
    webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover !important; 
    background-size: cover !important; 
}
.content-rotate{
    display: none;
}
.share-it-with-friends{
    display: block;
    position: absolute;
    top: 209px;
    width: 288px;
    color: #44c5f2;
    height: 50px;
    text-align: center;
    background-image: url(../img/share-it-with-friends.png);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 21px;
    padding-top: 18px;
    left: 128px;
}
.share-it-with-friends:hover{
    background-image: url(../img/share-it-with-friends-over.png);
}
.imgBackgrondShare{
    position: absolute;
    z-index: 1;
    top: 0;
}
@media screen and (max-width:1000px) and (min-width:768px){
    .share-your-promise{
        top: 42px !important;
        width: 160px !important;
        height: 52px !important;
        right: 30% !important;
    }
    
    .share-your-promise .text-03{
        left: 15px !important;
        top: 21px !important;
        font-size: 15px !important;
    }
}
